<section class="where-and-worldmap">
    <div class="container">
      <div class="d-flex flex-column flex-lg-row">
        <div class="row">
         <div class="col-12 col-lg-3 "> 
          <div>
            <h5 class="where fw-medium">WHERE</h5>
            <p class="where-ctn fw-medium">DePPs is being implemented in countries like Colombia, Indonesia, and China, where the agricultural industry seeks enhanced traceability solutions to meet consumer demand for transparency and safety in food supply chains.</p>
          </div>
         </div>
        </div>
        <div class="map">
          <picture>
            <source type="image/webp" srcset="assets/images/world-map.webp">
            <source type="image/jpg" srcset="assets/images/world-map.png">
            <img loading="lazy" data-src="assets/images/world-map.png" width="851" height="449" alt="world-map" title="World-map" class="img-fluid  h-100 w-100 " >
          </picture>
        </div>
      </div>
     </div>
</section>
