<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-7 order-lg-1 order-2">
          <div class="depps-footer-logo">
            <picture>
              <source type="image/webp" srcset="assets/images/depps-footer-logo.webp">
              <source type="image/jpg" srcset="assets/imagesdepps-footer-logo.png">
              <img loading="lazy" data-src="assets/imagesdepps-footer-logo.png" width="203" height="53" alt="depps-logo" title="depps-logo" class="img-fluid depps-footer-icon">
            </picture>
          </div>
          <div class="d-flex flex-column contact-us-and-email justify-content-center">
            <p class="contact-us fw-medium">Contact us</p>
            <a href="mailto:hello@farmsent.io" class="text-decoration-none contact-us fw-medium">hello&#64;farmsent.io</a>
          </div>
          <div class="address-and-copyright d-flex flex-column" >
            <p class="address-and-details fw-normal">38th Floor, Media One Hotel - Office Tower, Dubai Media City,<span class="d-lg-block"> PO Box 334069, Dubai, United Arab Emirates</span></p>
            <div class="d-flex">
             <p class="address-and-details fw-normal copyright">© Farmsent FZCO</p>
             <p class="address-and-details fw-normal reserve">All Rights Reserved</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-5 order-lg-2 order-1 d-flex justify-content-center justify-content-lg-start">
          <picture>
            <source type="image/webp" srcset="assets/images/payment-scan.webp">
            <source type="image/jpg" srcset="assets/images/payment-scan.png">
            <img loading="lazy" data-src="assets/images/payment-scan.png" width="446" height="431" alt="payment-scan" title="payment-scan" class="img-fluid">
          </picture>
        </div>
      </div>
    </div>
    <div class="topup-btn to_top d-flex align-items-center justify-content-center  position-fixed">
      <a href="#"><i class="bi bi-arrow-up"></i></a>
    </div>
</footer>