<section class="banner">
    <div class="d-flex flex-column align-items-center justify-content-center h-100 de-pin-for-agriculture">
      <h1 class="fw-semibold lh-base">DePIN For<span class="fw-medium agriculture">Agriculture</span></h1>
      <div class="d-flex align-items-center position-relative">
        <input type="search" placeholder="Depp ID / QR" />
        <div data-bs-toggle="tooltip" data-bs-placement="right"  data-bs-title="DEPPs" class="d-inline-block help position-absolute" >
          <div class="deeps-tooltip rounded-circle fw-medium d-flex align-items-center justify-content-center">&#x3f;</div>
        </div>
      </div>
    </div>
</section>
