<section class="mission">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8">
          <h5 class="mission-head  fw-medium text-uppercase">Mission</h5>
          <p class="mission-ctn fw-medium  food-industry">Our mission is to optimize the food industry by providing a secure platform that tracks every stage of food production, from farm to fork.</p>
        </div>
        <div class="col-12 col-md-8">
          <p class="mission-ctn fw-medium ">Through blockchain technology, we aim to build trust and confidence in the food supply chain, ensuring consumers have access to reliable information about the origin and handling of their food.</p>
        </div>
      </div>    
    </div>
  </section>
