<section class="features">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-12 col-lg-7 d-flex justify-content-center justify-content-lg-start order-lg-1 order-2">
          <picture>
            <source type="image/webp" srcset="assets/images/artboard.webp">
            <source type="image/jpg" srcset="assets/images/artboard.png">
            <img loading="lazy" data-src="assets/images/artboard.png" width="583" height="489" alt="service" title="service" class="img-fluid">
          </picture>
        </div>
        <div class="col-12 col-lg-5 advantage order-lg-2 order-1">
          <div>
            <h5 class="why fw-medium">WHY</h5>
            <h4 class="feature-head fw-medium">Food Safety & Quality</h4>
            <p class="feature-ctn fw-normal">Traceability allows the agricultural industry to track food from "farm to fork, ensuring consumers get safe, high-quality products by identifying contamination sources quickly.</p>
          </div>
          <div>
            <h4 class="feature-head fw-medium">Transparency & Trust</h4>
            <p class="feature-ctn fw-normal">By tracking movement through the supply chain, everyone involved gains visibility, building trust with consumers who increasingly demand transparency in their food choices</p>
          </div>
          <div>
            <h4 class="feature-head fw-medium small-farmers">DePPs empower small farmers</h4>
            <p class="deeps-empower fw-normal">DePPs ensure ALL food, regardless of brand, has a trackable "passport" for origin & and quality</p>
          </div>
          <p class="Transparency fw-medium">Transparency wins, not labels.</p>
          <div class="d-flex flex-column">
            <!-- <a routerLink="">home</a>
            <a routerLink="/how">How</a> -->
            <a routerLink="/mission" class=" Transparency fw-medium">Our Mission</a>
          </div>
        </div>
      </div>
    </div>
</section>
