.how{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    padding-bottom: 3px;
}
.technology{
    color: #000;
    font-family: Inter;
    font-size: 32px;
    width: 428px;
    line-height: normal;
}
.how-ctn{
    padding-top: 168px;
}
.how-and-supplychain{
    background-color: #FDF8F5;
    /* padding-bottom: 117px; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
