<section class="how-and-supplychain">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-5 how-ctn ">
          <h5 class="how fw-medium">HOW</h5>
          <p class="technology fw-medium">DePPs gathers data from IoT devices, compliance records, farmers/on-ground teams, and validators, securely storing it on the blockchain for transparent and immutable traceability</p>
        </div>
        <div class="col-12 col-lg-7 d-flex justify-content-center justify-content-lg-start">
          <picture>
           <source type="image/webp" srcset="assets/images/art-board-steps.webp">
           <source type="image/jpg" srcset="assets/images/art-board-steps.png">
           <img loading="lazy" data-src="assets/images/art-board-steps.png" width="678" height="601" alt="supply-chain" title="supply-chain" class="img-fluid">
          </picture>
        </div>
      </div>
    </div>
</section>
