<section class="satellite">
    <div class="container ">
      <div class="row ">
        <div class="col-12 col-lg-7 order-lg-1 order-2 d-flex justify-content-center satellite-image">
          <picture>
            <source type="image/webp" srcset="assets/images/satellite.webp">
            <source type="image/jpg" srcset="assets/images/satellite.png">
            <img loading="lazy" data-src="assets/images/satellite.png" width="431" height="577" alt="satellite" title="Satellite" class="img-fluid">
          </picture>
        </div>
        <div class="col-12 col-lg-5 order-lg-2 order-1">
          <h5 class="join-the-movement fw-medium">JOIN THE MOVEMENT</h5>
          <p class="join-the-movement-ctn fw-medium">DePPS representing a paradigm shift for decentralized transparency in the agricultural industry.</p>
          <div class="d-flex join-and-connect-button">
            <button class="join-the-movement-btn join-btn fw-medium">JOIN</button>
            <button class="join-the-movement-btn fw-medium">CONNECT</button>
          </div>
        </div>
      </div>
    </div>
</section>
